@import './date-picker.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

.ProseMirror {
  @apply prose-lg w-full rounded-b-sm border px-4 text-base text-slate-600 focus-within:outline-none !important;
}
.ProseMirror-focused {
  @apply border border-slate-400 focus-within:outline-none !important;
}
.css-qr46ko {
  @apply rounded-sm scrollbar-thin scrollbar-track-transparent scrollbar-thumb-black/50 !important;
}
